<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button>
      <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
    </button>
    <h1>Softnautics</h1>
    <span class="spacer"></span>
    <button mat-button matTooltip="Settings">
      <mat-icon>settings</mat-icon>
    </button>
    <button mat-button matTooltip="Logout">
      <mat-icon>exit_to_app</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav>
    <mat-nav-list>
      <a mat-list-item [routerLink]=""> Create a model </a>
      <a mat-list-item [routerLink]=""> Train a model </a>
      <a mat-list-item [routerLink]=""> Test pre-trained model </a>
      <a mat-list-item [routerLink]=""> Deploy a model </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div style="height: 88vh;">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
