.center {
  flex: 1 1 auto;
  text-align: center;
  align-self: center;
  align-content: center;
}
.main-container {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-login {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}
.full-width {
  width: 100%;
}
.error {
  padding: 16px;
  color: white;
  background-color: red;
}
