<mat-toolbar color="primary">
  <span class="center">Softnautics</span>
</mat-toolbar>
<div class="main-container">
  <mat-card class="card-login">
    <mat-card-title class="center">Login</mat-card-title>
    <mat-card-content>
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Username</mat-label>
        <input matInput [(ngModel)]="username" name="username" required />
      </mat-form-field>
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Password</mat-label>
        <input
          matInput
          type="password"
          name="password"
          required
          [(ngModel)]="password"
        />
      </mat-form-field>
      <p *ngIf="error" class="error">
        {{ error }}
      </p>
    </mat-card-content>
    <mat-card-actions class="center">
      <button
        mat-raised-button
        class="center"
        (click)="login()"
        color="primary"
      >
        Login
      </button>
    </mat-card-actions>
  </mat-card>
</div>
